<?xml version="1.0" standalone="yes"?>
<Navigation>  
  <Description>
    <text>Outlook-Like Day/Week View. Customizable Columns.</text>
  </Description>

  <Item>
    <class />
    <title>Main</title>
  </Item>
  <Item>
    <url>Default.aspx</url>
    <title>AJAX Event Calendar</title>
  </Item>
  <Item>
    <class />
    <title>Themes</title>
  </Item>
  <Item>
    <url>ThemeTransparent.aspx</url>
    <title>Transparent</title>
  </Item>
  <Item>
    <url>ThemeGreen.aspx</url>
    <title>Green</title>
  </Item>
  <Item>
    <url>ThemeWhite.aspx</url>
    <title>White</title>
  </Item>
  <Item>
    <url>ThemeTraditional.aspx</url>
    <title>Traditional</title>
  </Item>
  <Item>
    <url>ThemeBlue.aspx</url>
    <title>Blue</title>
  </Item>
  <Item>
    <url>GoogleLike.aspx</url>
    <title>Google Calendar</title>
  </Item>
  <Item>
    <class />
    <title>Events</title>
  </Item>
  <Item>
    <url>ActiveAreas.aspx</url>
    <title>Event Active Areas</title>
  </Item>
  <Item>
    <url>EventBubble.aspx</url>
    <title>Event Bubble</title>
  </Item>
  <Item>
    <url>ContextMenu.aspx</url>
    <title>Event Context Menu</title>
  </Item>
  <Item>
    <url>EventCreating.aspx</url>
    <title>Event Creating</title>
  </Item>
  <Item>
    <url>CustomEventFormatting.aspx</url>
    <title>Event Customization</title>
  </Item>
  <Item>
    <url>EventDeleting.aspx</url>
    <title>Event Deleting</title>
  </Item>
  <Item>
    <url>EventEditing.aspx</url>
    <title>Event Editing</title>
  </Item>
  <Item>
    <url>EventMoving.aspx</url>
    <title>Event Moving</title>
  </Item>
  <Item>
    <url>EventResizing.aspx</url>
    <title>Event Resizing</title>
  </Item>
  <Item>
    <url>EventSelecting.aspx</url>
    <title>Event Selecting</title>
  </Item>
  <Item>
    <url>DurationBar.aspx</url>
    <title>Duration Bar</title>
  </Item>
  <Item>
    <url>RealEventLength.aspx</url>
    <title>Exact Event Length</title>
  </Item>
  <Item>
    <url>ExternalDragDrop.aspx</url>
    <title>External Drag and Drop</title>
  </Item>
  <Item>
    <url>RecurrentEvents.aspx</url>
    <title>Recurrent Events</title>
  </Item>
  <Item>
    <class />
    <title>Navigation</title>
  </Item>
  <Item>
    <url>Navigator.aspx</url>
    <title>Navigator</title>
  </Item>
  <Item>
    <url>DatePicker.aspx</url>
    <title>Date Picker</title>
  </Item>
  <Item>
    <url>DateSwitching.aspx</url>
    <title>Date Switching</title>
  </Item>
  <Item>
    <class />
    <title>AJAX</title>
  </Item>
  <Item>
    <url>Notify.aspx</url>
    <title>Notify Event Model</title>
  </Item>
  <Item>
    <class />
    <title>Grid</title>
  </Item>
  <Item>
    <url>CustomBusinessHours.aspx</url>
    <title>Business Hours/Shifts</title>
  </Item>
  <Item>
    <url>Crosshair.aspx</url>
    <title>Crosshair</title>
  </Item>
  <Item>
    <url>HighlightingToday.aspx</url>
    <title>Hightlighting Today</title>
  </Item>
  <Item>
    <url>ScrollingArea.aspx</url>
    <title>Scrolling Area</title>
  </Item>
  <Item>
    <class />
    <title>Columns</title>
  </Item>
  <Item>
    <url>HeaderDateFormat.aspx</url>
    <title>Header Date Format</title>
  </Item>
  <Item>
    <url>HeaderAutoFit.aspx</url>
    <title>Header Height Auto-Fit</title>
  </Item>
  <Item>
    <url>ShowHeader.aspx</url>
    <title>Header (On/Off)</title>
  </Item>
  <Item>
    <class />
    <title>Time Header</title>
  </Item>
  <Item>
    <url>FineGrainedTimeCells.aspx</url>
    <title>Cell Duration</title>
  </Item>
  <Item>
    <url>TimeHeaderCellDuration.aspx</url>
    <title>Time Header Cell Duration</title>
  </Item>
  <Item>
    <url>TimeFormat.aspx</url>
    <title>Time Format (12/24 Hours)</title>
  </Item>
  <Item>
    <url>OvernightShift.aspx</url>
    <title>Overnight Shift</title>
  </Item>
  <Item>
    <class />
    <title>Localization</title>
  </Item>
  <Item>
    <url>RTL.aspx</url>
    <title>RTL</title>
  </Item>
  <Item>
    <title>Export</title>
  </Item>
  <Item>
    <url>ImageExport.aspx</url>
    <title>Image Export (PNG)</title>
  </Item>
  <Item>
    <title>Views</title>
  </Item>
  <Item>
    <url>DayView.aspx</url>
    <title>Day view</title>
  </Item>
  <Item>
    <url>WorkWeekView.aspx</url>
    <title>Work Week View</title>
  </Item>
  <Item>
    <url>WeekView.aspx</url>
    <title>Week View</title>
  </Item>
  <Item>
    <url>ResourcesView.aspx</url>
    <title>Resources View</title>
  </Item>
  <Item>
    <url>DaysResourcesView.aspx</url>
    <title>Days-Resources View</title>
  </Item>
  <Item>
    <url>ResourcesDaysView.aspx</url>
    <title>Resources-Days View</title>
  </Item>
  <Item>
    <url>CustomDaysView.aspx</url>
    <title>Custom Number of Days</title>
  </Item>
  <Item>
    <title>Behavior</title>
  </Item>
  <Item>
    <url>MultipleCalendars.aspx</url>
    <title>Multiple Calendars</title>
  </Item>
  <Item>
    <title>Data Binding</title>
  </Item>
  <Item>
    <url>BindingXmlDataSource.aspx</url>
    <title>Binding to XmlDataSource</title>
  </Item>
  <Item>
    <url>BindingDataTable.aspx</url>
    <title>Binding to a DataTable</title>
  </Item>
  <Item>
    <url>BindingArrayList.aspx</url>
    <title>Binding to an ArrayList</title>
  </Item>

</Navigation>