<?xml version="1.0" standalone="yes"?>
<Navigation>
  <Description>
    <text>Outlook-Like Month View.</text>
  </Description>
  <Item>
    <class />
    <title>Main</title>
  </Item>
  <Item>
    <class />
    <url>Default.aspx</url>
    <title>AJAX Monthly Calendar</title>
  </Item>
  <Item>
    <class />
    <title>Themes</title>
  </Item>
  <Item>
    <class />
    <url>ThemeTransparent.aspx</url>
    <title>Transparent</title>
  </Item>
  <Item>
    <class />
    <url>ThemeGreen.aspx</url>
    <title>Green</title>
  </Item>
  <Item>
    <class />
    <url>ThemeWhite.aspx</url>
    <title>White</title>
  </Item>
  <Item>
    <class />
    <url>ThemeTraditional.aspx</url>
    <title>Traditional</title>
  </Item>
  <Item>
    <class />
    <url>ThemeBlue.aspx</url>
    <title>Blue</title>
  </Item>
  <Item>
    <title>Events</title>
  </Item>
  <Item>
    <class />
    <url>CssContinue.aspx</url>
    <title>Continue CSS Classes</title>
  </Item>
  <Item>
    <class />
    <url>ActiveAreas.aspx</url>
    <title>Event Active Areas</title>
  </Item>
  <Item>
    <class />
    <url>CustomRendering.aspx</url>
    <title>Event Customization</title>
  </Item>
  <Item>
    <class />
    <url>EventDeleting.aspx</url>
    <title>Event Deleting</title>
  </Item>
  <Item>
    <class />
    <url>EventSelecting.aspx</url>
    <title>Event Selecting</title>
  </Item>
  <Item>
    <class />
    <url>StartEndTime.aspx</url>
    <title>Event Start and End Time</title>
  </Item>
  <Item>
    <class />
    <url>EventMoveToPosition.aspx</url>
    <title>Move Event to Position</title>
  </Item>
  <Item>
    <class />
    <url>RecurrentEvents.aspx</url>
    <title>Recurring Events</title>
  </Item>
  <Item>
    <title>AJAX</title>
  </Item>
  <Item>
    <class />
    <url>Notify.aspx</url>
    <title>Notify Event Model</title>
  </Item>
  <Item>
    <title>Grid</title>
  </Item>
  <Item>
    <class />
    <url>CellMarginBottom.aspx</url>
    <title>Bottom Cell Margin</title>
  </Item>
  <Item>
    <class />
    <url>HideWeekend.aspx</url>
    <title>Hide Weekend</title>
  </Item>
  <Item>
    <title>Views</title>
  </Item>
  <Item>
    <class />
    <url>WeeksView.aspx</url>
    <title>Weeks View</title>
  </Item>
  <Item>
    <class />
    <url>CellStacking.aspx</url>
    <title>Cell Stacking Mode</title>
  </Item>
  <Item>
    <title>Export</title>
  </Item>
  <Item>
    <class />
    <url>ImageExport.aspx</url>
    <title>Image Export (PNG)</title>
  </Item>
  <Item>
    <title>Localization</title>
  </Item>
  <Item>
    <class />
    <url>Localization.aspx</url>
    <title>Localization</title>
  </Item>
</Navigation>