<?xml version="1.0" standalone="yes"?>
<Navigation>
  <Description>
    <text>A Time Line for Multiple Resources.</text>
  </Description>
  <Item>
    <class />
    <title>Main</title>
  </Item>
  <Item>
    <class />
    <url>Default.aspx</url>
    <title>AJAX Scheduler</title>
  </Item>
  <Item>
    <class />
    <title>CSS Themes</title>
  </Item>
  <Item>
    <class />
    <url>Theme8.aspx</url>
    <title>Windows 8</title>
  </Item>
  <Item>
    <class />
    <url>ThemeTransparent.aspx</url>
    <title>Transparent</title>
  </Item>
  <Item>
    <class />
    <url>ThemeGreen.aspx</url>
    <title>Green</title>
  </Item>
  <Item>
    <class />
    <url>ThemeWhite.aspx</url>
    <title>White</title>
  </Item>
  <Item>
    <class />
    <url>ThemeTraditional.aspx</url>
    <title>Traditional</title>
  </Item>
  <Item>
    <class />
    <url>ThemeBlue.aspx</url>
    <title>Blue</title>
  </Item>
  <Item>
    <title>Scale</title>
  </Item>
  <Item>
    <class />
    <url>ScaleMinutes.aspx</url>
    <title>Minutes</title>
  </Item>
  <Item>
    <class />
    <url>ScaleHours.aspx</url>
    <title>Hours</title>
  </Item>
  <Item>
    <class />
    <url>ScaleDays.aspx</url>
    <title>Days</title>
  </Item>
  <Item>
    <class />
    <url>ScaleWeeks.aspx</url>
    <title>Weeks</title>
  </Item>
  <Item>
    <class />
    <url>ScaleMonths.aspx</url>
    <title>Months</title>
  </Item>
  <Item>
    <class />
    <url>ScaleYears.aspx</url>
    <title>Years</title>
  </Item>
  <Item>
    <class />
    <url>ScaleCustom.aspx</url>
    <title>Custom</title>
  </Item>  <Item>
    <title>Controls</title>
  </Item>
  <Item>
    <class />
    <url>MessageBar.aspx</url>
    <title>Message Bar</title>
  </Item>
  <Item>
    <title>Performance</title>
  </Item>
  <Item>
    <class />
    <url>ProgressiveEventRendering.aspx</url>
    <title>Progressive Event Rendering</title>
  </Item>
  <Item>
    <url>ProgressiveEventRenderingDelayed.aspx</url>
    <title>Progressive Event Rendering (Delayed)</title>
  </Item>
  <Item>
    <class />
    <url>StaticEventRendering.aspx</url>
    <title>Static Event Rendering</title>
  </Item>
  <Item>
    <class />
    <url>DynamicEventLoading.aspx</url>
    <title>Dynamic Event Loading</title>
  </Item>
  <Item>
    <class />
    <url>DynamicTreeLoading.aspx</url>
    <title>Dynamic Tree Loading</title>
  </Item>
  <Item>
    <class />
    <url>Notify.aspx</url>
    <title>Notify Event Model</title>
  </Item>
  <Item>
    <title>Navigation</title>
  </Item>
  <Item>
    <class />
    <url>Zooming.aspx</url>
    <title>Zooming</title>
  </Item>
  <Item>
    <title>View Types</title>
  </Item>
  <Item>
    <class />
    <url>Gantt.aspx</url>
    <title>Gantt Chart</title>
  </Item>
  <Item>
    <class />
    <url>Timesheet.aspx</url>
    <title>Timesheet</title>
  </Item>
  <Item>
    <class />
    <title>Rows</title>
  </Item>
  <Item>
    <url>RowProgressiveRendering.aspx</url>
    <title>Progressive Row Rendering</title>
  </Item>
  <Item>
    <url>RowCreating.aspx</url>
    <title>Row Creating</title>
  </Item>
  <Item>
    <class />
    <url>RowEditing.aspx</url>
    <title>Row Editing</title>
  </Item>
  <Item>
    <class />
    <url>RowHeaderColumns.aspx</url>
    <title>Row Header Columns</title>
  </Item>
  <Item>
    <url>RowHeaderHiding.aspx</url>
    <title>Row Header Hiding</title>
  </Item>
  <Item>
    <url>RowHeaderScrolling.aspx</url>
    <title>Row Header Scrolling</title>
  </Item>
  <Item>
    <url>RowMoving.aspx</url>
    <title>Row Moving</title>
  </Item>
  <Item>
    <class />
    <url>RowSelecting.aspx</url>
    <title>Row Selecting</title>
  </Item>
  <Item>
    <class />
    <url>PreventParentUsage.aspx</url>
    <title>Prevent Parent Usage</title>
  </Item>
  <Item>
    <class />
    <url>RowHeaderAutoFit.aspx</url>
    <title>Row Header Width Auto-Fit</title>
  </Item>
  <Item>
    <class />
    <title>Events</title>
  </Item>
  <Item>
    <class />
    <url>ActiveAreas.aspx</url>
    <title>Event Active Areas</title>
  </Item>
  <Item>
    <class />
    <url>EventDeleting.aspx</url>
    <title>Event Deleting</title>
  </Item>
  <Item>
    <url>EventLinks.aspx</url>
    <title>Event Links</title>
  </Item>
  <Item>
    <url>EventMultiMoving.aspx</url>
    <title>Event Multi-Moving</title>
  </Item>
  <Item>
    <url>EventMultiSelecting.aspx</url>
    <title>Event Multi-Selecting</title>
  </Item>
  <Item>
    <url>EventOverlapping.aspx</url>
    <title>Event Overlapping</title>
  </Item>
  <Item>
    <class />
    <url>EventSelecting.aspx</url>
    <title>Event Selecting</title>
  </Item>
  <Item>
    <url>EventStackingLineHeight.aspx</url>
    <title>Event Stacking Line Height</title>
  </Item>
  <Item>
    <class />
    <url>PercentComplete.aspx</url>
    <title>Percent Complete</title>
  </Item>
  <Item>
    <class />
    <url>EventMoveToPosition.aspx</url>
    <title>Move Event to Position</title>
  </Item>
  <Item>
    <class />
    <url>ExternalDragDrop.aspx</url>
    <title>External Drag and Drop</title>
  </Item>
  <Item>
    <url>EventsGroupConcurrent.aspx</url>
    <title>Group Concurrent Events</title>
  </Item>
  <Item>
    <class />
    <url>LimitEventMoving.aspx</url>
    <title>Limit Event Moving</title>
  </Item>
  <Item>
    <class />
    <url>RecurrentEvents.aspx</url>
    <title>Recurrent Events</title>
  </Item>
  <Item>
    <class />
    <url>Realtime.aspx</url>
    <title>Real-Time Drag and Drop Indicators</title>
  </Item>
  <Item>
    <class />
    <title>Grid</title>
  </Item>
  <Item>
    <class />
    <url>AutoCellWidth.aspx</url>
    <title>Auto Cell Width</title>
  </Item>
  <Item>
    <class />
    <url>Crosshair.aspx</url>
    <title>Crosshair</title>
  </Item>
  <Item>
    <url>MultiRangeSelecting.aspx</url>
    <title>Multi-Range Selecting</title>
  </Item>
  <Item>
    <class />
    <url>DragDropTwoSchedulers.aspx</url>
    <title>Drag&amp;Drop between Schedulers</title>
  </Item>
  <Item>
    <class />
    <url>AutoRefresh.aspx</url>
    <title>AutoRefresh</title>
  </Item>
  <Item>
    <class />
    <url>ImageExport.aspx</url>
    <title>Image Export (PNG)</title>
  </Item>
  <Item>
    <title>Time Header</title>
  </Item>
  <Item>
    <url>TimeHeaderActiveAreas.aspx</url>
    <title>Time Header Active Areas</title>
  </Item>
  <Item>
    <class />
    <url>HideNonBusiness.aspx</url>
    <title>Hidden Non-Business Hours</title>
  </Item>
  <Item>
    <class />
    <url>TimeHeaders.aspx</url>
    <title>Time Headers</title>
  </Item>
  <Item>
    <title>Globalization</title>
  </Item>
  <Item>
    <class />
    <url>Hebrew.aspx</url>
    <title>Hebrew Calendar</title>
  </Item>
  <Item>
    <class />
    <url>Hijri.aspx</url>
    <title>Hijri Calendar</title>
  </Item>
  <Item>
    <class />
    <url>Japanese.aspx</url>
    <title>Japanese Calendar</title>
  </Item>
  <Item>
    <class />
    <url>Korean.aspx</url>
    <title>Korean Calendar</title>
  </Item>
  <Item>
    <class />
    <url>Taiwan.aspx</url>
    <title>Taiwan Calendar</title>
  </Item>
  <Item>
    <class />
    <url>ThaiBuddhist.aspx</url>
    <title>Thai Buddhist Calendar</title>
  </Item>

</Navigation>