<?xml version="1.0" standalone="yes"?>
<Navigation>
  <Description>
    <text>ASP.NET Gantt Chart</text>
  </Description>
  <Item>
    <class />
    <title>Main</title>
  </Item>
  <Item>
    <class />
    <url>Default.aspx</url>
    <title>ASP.NET Gantt</title>
  </Item>
  <Item>
    <class />
    <title>Data binding</title>
  </Item>
  <Item>
    <class />
    <url>DataBinding.aspx</url>
    <title>Data Binding (DataTable)</title>
  </Item>
  <Item>
    <class />
    <title>Tasks</title>
  </Item>
  <Item>
    <class />
    <url>Large.aspx</url>
    <title>Large Data Set</title>
  </Item>
  <Item>
    <class />
    <url>TaskSyncing.aspx</url>
    <title>Syncing</title>
  </Item>
  <Item>
    <url>TaskCreating.aspx</url>
    <title>Task Creating</title>
  </Item>
  <Item>
    <url>TaskVersions.aspx</url>
    <title>Task Versions</title>
  </Item>
  <Item>
    <class />
    <title>Rows</title>
  </Item>
  <Item>
    <class />
    <url>RowHeaderScrolling.aspx</url>
    <title>Row Header Scrolling</title>
  </Item>
  <Item>
    <class />
    <url>RowMoving.aspx</url>
    <title>Row Moving</title>
  </Item>

  <Item>
    <url>RowSelecting.aspx</url>
    <title>Row Selecting</title>
  </Item>

</Navigation>